<div data-pageid="1" data-pagedefault="true" style="display: none;">
    <button name="GoPage2">Go Page 2</button><br/>
    <button name="GoPage3">Go Page 3</button><br/>
    <button name="Discover">devices?</button><br/>
    <button name="A1Value">A1Value?</button><br/>
</div>
<div data-pageid="2" style="display: none;">
    Hello? I'm page 2.'
</div>
<div data-pageid="3" style="display: none;">
    Hi! I'm page 3.
</div>