<div class="IController container"
     data-controller="Sub1">
    Hello? I'm page Sub1.'<br/>
    <button name="GoMain">Back Main</button><br/>
    <button name="Discover">devices?</button><br/>
</div>