<div class="PopupTemplates" style="display: none;">
    <div id="PtplAlert"
         data-description="通知表示"
         class="PopupArea mfp-hide" >
        <div class="MessageArea">
            <span class="Message"></span>
        </div>
    </div>
    <div id="PtplConfirm" 
         data-description="Yes/No確認"
         class="PopupArea mfp-hide">
        <div class="MessageArea">
            <span class="Message"></span>
        </div>
        <div class="ButtonArea">
            <a href="javascript:void(0);" class="Button ButtonOk">OK</a>
            <a href="javascript:void(0);" class="Button ButtonCancel">Cancel</a>
        </div>
    </div>
</div>