<div class="UnderscoreTemplates" style="display: none;">
    <script type="text/template" 
            data-description="セレクトボックスアイテム"
            id="UtplSelectOption">
        <optiion value="<%= value %>" <%= optionAttrs %>><%= name %></optiion>
    </script>

</div>