html,
body,
.body-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.body-content {
    position: static;
}

/* Root.Maskの定義 */
.IView.RootMask {
    position: absolute;
    display: block;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    opacity: 0.0;
}
.IView.RootMask.Masked {
    opacity: 0.4;
}

/* マウスドラッグ中、テキスト選択を無効化する。*/
.TextUnselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Controllerは基本、全て同じ位置に重ねる。*/
div.IController {
    display: none;
    width: 100%;
    height: 100%;
}

/* Controller配下要素をstatic(デフォルト)に戻す。*/
div.IController > * {
    position: static;
}

/* Viewの基礎設定 */
div.IController .IView {
    position: absolute;
    display: block;
    border-style: solid;
    overflow: hidden;
}
/* Viewのアニメーション */
div.IController .IView.TransAnimation {
    transition: all 0.15s ease-in-out;
}
/* Viewアニメーションを停止する */
div.IController .IView.NoTransAnimation {
    transition: none !important;
}

div.IController .IView.PageView {
    z-index: 1;
}

/* ラベル／画像等のインライン要素は中央配置 */
div.IController .ControlView > .ControlViewProperty,
div.IController .ImageView > .ImageViewProperty,
div.IController .LabelView > .LabelViewProperty {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/* ドラッグ時等の配置先ターゲットシャドウ */
div.IController .IView.Shadow {
    z-index: -1 !important;
    border-style: dashed !important;
    border-width: 2px !important;
    opacity: 0.4 !important;
}

/* ボタン背景色のホバーアニメーション */
div.IController .ControlView.ButtonView {
    transition: background-color, 0.3s ease-in-out;
}

/* ボタンホバー*/
div.IController .ControlView.ButtonView:hover, 
div.IController .ControlView.ToggleButtonView:hover {
    cursor: pointer;
}

/* トグルボタンのノッチ移動アニメーション */
div.IController .ControlView.ToggleButtonView .BoxView {
    transition: all 0.3s ease-in-out;
}

div.IController .TextBoxView,
div.IController .SelectBoxView {
    position: absolute;
    /* border: none; */
    display: block;
    box-shadow: none;
    border-radius: 10px;
    font-size: 100%;
    left: 0;
    width: 99%;
}

div.IController .TextAreaView {
    position: absolute;
    /* border: none; */
    display: block;
    box-shadow: none;
    border-radius: 10px;
    font-size: 100%;
    left: 0;
    top: 0;
    width: 99%;
    height: 99%;
}