html,
body,
.body-content {
    width: 100%;
    height: 100%;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.body-content {
    position: static;
}

/* Controllerは基本、全て同じ位置に重ねる。*/
div.IController {
    display: none;
    width: 100%;
    height: 100%;
}

/* Controller配下要素をstatic(デフォルト)に戻す。*/
div.IController > * {
    position: static;
}

/* View用の要素 */
div.IController .IView {
    position: absolute;
}

div.IController .BoxView {
    display: block;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.8);
}

div.IController .ControlView > .ControlViewProperty,
div.IController .ImageView > .ImageViewProperty,
div.IController .LabelView > .LabelViewProperty {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
div.IController .ControlView {
    transition: all 0.3s ease;
}
div.IController .ControlView.Shadow {
    z-index: -1;
    transition: all 0.3s ease;
}

div.IController .ControlView.ButtonView {
    transition: all 0.3s ease;
}
div.IController .ControlView.ButtonView:hover {
    cursor: pointer;
}

div.IController .ControlView.ToggleButtonView,
div.IController .ControlView.ToggleButtonView .BoxView {
    transition: all 0.3s ease;
}

div.IController .ControlView.ToggleButtonView:hover {
    cursor: pointer;
}

div.FinalizerIsNotExists {
    /* VSのCSSインデントが邪魔なので末尾に置いておく。 */
}