html,
body,
.body-content {
    width: 100%;
    height: 100%;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.body-content {
    position: static;
}

/* Controllerは基本、全て同じ位置に重ねる。*/
div.IController {
    display: none;
    width: 100%;
    height: 100%;
}

/* Controller配下要素をstatic(デフォルト)に戻す。*/
div.IController > * {
    position: static;
}

/* Viewの基礎設定 */
div.IController .IView {
    position: absolute;
    display: block;
    border-style: solid;
}
/* Viewのアニメーション */
div.IController .IView.TransAnimation {
    transition: all 0.15s ease-in-out;
}

/* ラベル／画像等のインライン要素は中央配置 */
div.IController .ControlView > .ControlViewProperty,
div.IController .ImageView > .ImageViewProperty,
div.IController .LabelView > .LabelViewProperty {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

/* ドラッグ時等の配置先ターゲットシャドウ */
div.IController .IView.Shadow {
    z-index: -1;
}

/* ボタン背景色のホバーアニメーション */
div.IController .ControlView.ButtonView {
    transition: background-color, 0.3s ease-in-out;
}

/* ボタンホバー*/
div.IController .ControlView.ButtonView:hover, 
div.IController .ControlView.ToggleButtonView:hover {
    cursor: pointer;
}

/* トグルボタンのノッチ移動アニメーション */
div.IController .ControlView.ToggleButtonView .BoxView {
    transition: all 0.3s ease-in-out;
}
